@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lato:wght@300;400&family=Open+Sans:wght@500&family=Poppins&family=Raleway:wght@500&family=Roboto&display=swap');

body {
  margin: 0;
  font-family:'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}